rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /weeks/{weekId} {
      allow read: if true;
      allow write: if true;
    }
    match /weeks/{weekId}/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /weeks/{weekId}/logs/{logId} {
      allow read: if true;
      allow write: if true;
    }
    match /members/{memberId} {
      allow read: if true;
      allow write: if true;
    }
    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
